<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net472" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net472" />
  <package id="Simple.Data.RawSql" version="0.1.4446.14702" targetFramework="net472" />
  <package id="Simple.Data.SqlServer" version="0.19.0.0" targetFramework="net472" />
  <package id="SQLProvider" version="1.1.54" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net472" />
</packages>