$font-color: #ffffff;
.slider-container
{
    padding-left: 10px;
    padding-right: 10px; 
}

.huge-box-container
{
    width: 100%; 
}

.huge-box
{
    color: $font-color;
    text-align: center;
    padding: 20px 0;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    &.empty
    {
        background-size: contain;
        background-position: center;
        background-color: #ffffff;  
    }
    .box-header
    {
        padding: 0;
        height: 147px;
        .text
        {
            position: relative;
            z-index: 10;
            top: 25%;
            width: 100%;
            h1
            {
                color: $font-color; 
                font-size: 40px;
            }
            p{
                display: none;
            }
        }
    }
    .box-footer
    {
        position: relative;
        z-index: 10;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        .article-category
        {
            font-size: 18px;
            padding: 10px 5px;
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            width: 100px;
        }
        .article-info
        {
            font-family: 'PT Sans', sans-serif;
            text-align: right;
            padding: 10px 25px;
            display: none;
            div
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .break
            {
                padding: 0 20px;
            }
            .autor-name
            {
                color: #1a54e7;
                text-decoration: underline;
                &:hover
                {
                    text-decoration: none;
                }
            }
        }
    }
}

.medium-box
{
    text-align: center;
    padding: 20px 10px;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .box-header
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px; 
        background-size: cover;
        background-repeat: no-repeat;
        height: 253px;
        &.empty
        {
            background-size: contain;
            background-position: center;
            background-color: #ffffff; 
        }
        .article-category
        {
            color: #ffffff;
            font-size: 18px;
            padding: 10px 5px;
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            width: 100px;
        }
    }
    .box-footer
    {
        display: flex;
        justify-content: space-between;
        .article-info
        {
            font-family: 'PT Sans', sans-serif;
            text-align: left;
            color: #000000;
            font-size: 14px;
            h1
            {
                font-size: 18px;
                line-height: 1.7;
            }
            .data
            {
                color: #b0b0b0;
            }
            .break
            {
                padding: 0 10px;
                color: #b0b0b0;
            }
            .autor-name
            {
                color: #1a54e7;
                text-decoration: underline;
                &:hover
                {
                    text-decoration: none;
                }
            }
        }
    }
}



.nature
{
    .article-category
    {
        background: #58b600;
        &:hover
        {
            background: #47a600;
        }
    }
}

.people
{

    .article-category
    {
        background: #1a54e7;
        &:hover
        {
            background: #0943d6;
        }
    }
}

.tech 
{   
    .article-category
    {
        background: #000000;
        &:hover
        {
            background: #000000;
        }
    }
}

.trips
{   
    .article-category
    {
        background: #d90445;
        &:hover
        {
            background: #c80334;
        }
    }
}
@media (min-width: 769px) {
    .huge-box 
    {       
        .box-header{
            padding: 120px 0;
            height: 400px;
            .text p{
                display: block;
            }
        }
        .box-footer .article-info
        {
            display: block; 
        }
    }
}