@using RunShawn.Web.Areas.Admin.Models.Settings.Menu
@model MenuItemViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ustawiena Menu</h2>

        <div class="col-md-8">
                <ul id="myEditor" class="sortableLists list-group"></ul>
                <button class="btn btn-success" id="save">Zapisz</button>
            </div>
         @Html.Partial(MVC.Admin.Settings.Views.Menu._CreateForm)
      
@Html.Bootstrap().Button("Zapisz").SetState(ButtonState.Primary).SetId("save")
<script>
$(document).ready(function () {
    MenuSettingsController.getDataUrl = "@Url.Action(MVC.Admin.Menu.GetMenuTree())"
    MenuSettingsController.saveSettingsUrl = "@Url.Action(MVC.Admin.Menu.SaveMenuSettings())"
    MenuSettingsController.init();
    MenuSettingsController.addNewMenuItem();
    MenuSettingsController.saveSettings();
});
</script>
