@{
    ViewBag.Title = "List";
}

@using RunShawn.Web.Areas.Admin.Models.News
@model IEnumerable<ArticleListViewModel>

@using (Html.Bootstrap().Heading2().Begin())
{
    <text>Wpisy</text>
}
@using (var group = Html.Bootstrap().ButtonGroup().Begin())
{
    @group.LinkButton("Dodaj", MVC.Admin.News.Create()).SetIcon(Icon.Plus).SetState(ButtonState.Success)
}

@(
    Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Title).Titled("Tytuł");
        columns.Add(model => model.CategoryTitle).Titled("Kategoria");
        columns.Add(model => model.CreatedByName).Titled("Autor");
        columns.Add(model => model.PublishDate).Titled("Data Publikacji");
        columns.Add().Titled("Wyróżniony").Encoded(false).RenderedAs(model => (

               $"<a href='{Url.Action(MVC.Admin.News.Feature(model.Id))}'><i class='{model.FeaturedIcon}'></a>"
            )
            );
        columns.Add().Titled("Akcje").Encoded(false).RenderedAs(model =>
 (
     Html.Bootstrap().LinkButton("Edytuj", MVC.Admin.News.Edit(model.Id))
     .SetIcon(Icon.Edit)
     .SetState(ButtonState.Warning)
     .SetSize(ButtonSize.Sm)
     .ToHtmlString()
     +
     Html.Bootstrap().LinkButton("Podgląd", MVC.Default.News.Details(model.Id))
     .AddCss("btn-details")
     .AddAttribute("target", "blank")
     .SetIcon(Icon.Paperclip)
     .SetState(ButtonState.Info)
     .SetSize(ButtonSize.Sm)
     .ToHtmlString()
     +
     Html.Bootstrap().LinkButton("Usuń", MVC.Admin.News.Delete(model.Id))
     .AddCss("btn-remove")
     .SetIcon(Icon.Remove)
     .SetState(ButtonState.Danger)
     .SetSize(ButtonSize.Sm)
     .ToHtmlString()
 )

 );
    })
    .Empty("Brak Wyników")
        .Filterable()
        .Sortable()
        .Pageable()
)
