@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Signika");
$font-color: #ffffff;
$theme-bc-color:#651fff;
$theme-font-color:#ffffff;

.carousel-control.left, .carousel-control.right {
    background-image: none
}

body{
    color: $font-color;
}

h1{
    margin: 0;
}

.container 
{
    position: relative;
    .row
    {
        >div
        {
            padding: 0;
        }
    }
}
.countdown-bar {
    background: #383838;
    color: $theme-font-color;
    text-align: center;
    padding: 25px;
    font-family: 'Signika', sans-serif;
    .countdown-caption {
        p {
            letter-spacing: 2px;
            margin: 0px;
            padding: 0px;
            font-size: 30px;
        }
        h6 {
            margin: 0px;
            padding: 0px;
            font-size: 20px;
            color: $theme-font-color;
        }
        .time-letter {
            font-size: 0.4em;
        } 
    }
}

a:hover, a:focus {
    color: $font-color;
    text-decoration: none;
}
.page-header-container
{
    padding: 0;
}
.page-header {
    position: absolute; 
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: $theme-bc-color;
    z-index: 1000;
    height: 85px;
    color: $theme-font-color;
    .page-logo {
        padding: 13px 0;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Maison Neue', sans-serif;
        font-weight: bold;
        a{
            color: $theme-font-color;
        }
        /*img {
            width: 40px;
            height: 40px;
        }
        a {
            display: flex;
            justify-content: center;
        }*/
    }
    .page-nav{
        background: $theme-bc-color;
        border-radius: 0 3px 3px;
        ul {
            display: none;
            line-height: 2.5;
            padding: 0;
            list-style-type: none;
            text-align: center;
            li {
                $border-color:#343434;
                border-top: 1px solid $border-color;
                a {
                    color: $theme-font-color;
                    position: relative;
                    padding-bottom: 10px; 
                    &,
                    &:after,
                    &:before {
                        transition: all .4s;
                    }
                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0%;
                        content: '.';
                        color: transparent;
                        background: darken($theme-font-color, 20%);
                        height: 1px;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                    &:hover {
                        color: darken($theme-font-color, 20%);
                    }
                }
            }
        }
        .hamburger{
            position: absolute;
            top: 35px;
            left: 35px;
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            #hamburger{
                & {
                    width: 17px;
                    height: 17px;
                    position: relative; 
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                    cursor: pointer;
                }
                & span {
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: $theme-font-color;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                }
                & span:nth-child(1) {
                top: 0px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
                }
                
                & span:nth-child(2) {
                top: 6px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
                }
                
                & span:nth-child(3) {
                top: 12px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
                }
                
                &.open span:nth-child(1) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                }
                
                &.open span:nth-child(2) {
                width: 0%;
                opacity: 0;
                }
                
                &.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                }
            }
        }
    }
}
main{
    margin-top: 99px;
}
.main-footer{
    padding: 20px 10px;
    text-align: center;
    font-size: 15px;
    background:$theme-bc-color;
}
@media (min-width: 769px) {
    .countdown-bar {
        .countdown-caption {
            p {
                font-size: 55px;
            }
            h6 {
                font-size: 35px;
            }
        }
    }
    .page-header {
        margin: auto;
        left: 0;
        right: 0;
        border-bottom: none;
        .page-logo { 
            margin-left: 10px;
            text-align: left;
            img {
                margin-left: 15px;
            }
            a {
                justify-content: flex-start;
            }
        }
        .page-nav {
            position: absolute;
            top: 25px;
            right: 20px;
            .hamburger {
                display: none;
            }
            ul {
                display: block!important;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    border: 0;
                    margin-right: 48px;
                    &:last-child a {
                        border-width: 0;
                    }
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}