@{
    ViewBag.Title = "Dashboard";
}
<header>
    <h3>Ostatnie osiągnięcia</h3>
</header>
<div class="achievements-container">
    <div class="single-achievement">
        <div class="icon-container"><i class="fab fa-accessible-icon"></i></div>
        <div class="info">
            <h3>Bieganie</h3>
            <h2>Nowicjusz</h2>
            <h4>15 grudzień 2018</h4>
        </div>
    </div>
    <div class="single-achievement">
        <div class="icon-container"><i class="fas fa-running"></i></div>
        <div class="info">
            <h3>Bieganie</h3>
            <h2>Sportowiec</h2>
            <h4>14 stycznia 2019</h4>
        </div>
    </div>
    <div class="single-achievement">
        <div class="icon-container"><i class="fas fa-dumbbell"></i></div>
        <div class="info">
            <h3>Bieganie</h3>
            <h2>Weteran</h2>
            <h4>20 lutego 2019</h4>
        </div>
    </div>
    <div class="single-achievement">
        <div class="icon-container"><i class="fas fa-award"></i></div>
        <div class="info">
            <h3>Bieganie</h3>
            <h2>Mistrz</h2>
            <h4>24 mar 2019</h4>
        </div>
    </div>
</div>
<header>
    <h3>Statystyki</h3>
</header>
<div class="single-chart-container"><div class="single-chart"><canvas id="line-chart-customer"></canvas></div></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="~/Scripts/utils.js"></script>

<script>
    new Chart(document.getElementById("line-chart-customer"), {
        type: 'line',
        data: {
            labels: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
            datasets: [{
                data: [0, 5, 15, 20, 20,20, 21, 19, 18, 18,22, 20],
                label: "Bieganie",
                borderColor: "#3e95cd",
                fill: false
            }, {
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                label: "Siłownia",
                borderColor: "#8e5ea2",
                fill: false
            }, {
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                label: "Jazda na rowerze",
                borderColor: "#3cba9f",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Twoja aktywność w    ciągu roku'
            }
        }
    });
</script>