@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<ol class="breadcrumb">
@foreach (var node in Model) {
    var cssClass = "";
    if (node == Model.Last())
    {
        cssClass = "active";
    }
    <li class="@cssClass">
    @Html.DisplayFor(m => node)
    </li>
}
</ol>