.modal-header
{
    background: #3b4653;
    padding: 15px 15px 15px 25px!important;
    .close
    {
        position: absolute;
        top: 25px;
        right: 25px;
        color:#fff!important;
        &:hover, &:focus
        {
            color:#eee;
        }
    }
    .modal-title
    {
        color:#fff;
    }
}
